/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2015, 4:19:10 PM
    Author     : manjulas
*/

.ImageLoad{
    background: url("../images/Mobitel-Logo.png") no-repeat scroll right bottom;
    height :120px;
    width : 140px;
    margin-top:20px;
    alignment-baseline: central;
}

.error_class{
    color: #FF0000;
    display: none;
}